/.idea/
/src/.vscode/

# Visual Studio 2015/2017 cache/options directory
.vs/

# User-specific files
*.suo

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# npm files
/src/client/package-lock.json
/src/builds/
*.user
/packages

